{% extends 'homePage/homepage.html' %}
{% block acctDetail %}

<style>
    .box_element {
        margin-top: 4rem;
        padding: 1%;
        position: absolute;
        left: 250px;
        width: calc(100vw - 250px )
        /* background-color: lightpink; */
    }

    .display_mode {
        display: flex;
    }

    div .right_element {
        border-radius: 5px;
        /* background-color: rgb(0, 174, 255); */
        background-color: turquoise;
        width: 30%;
        padding: 3px;
    }

    .alert-success {
        display: none;
    }

    div form .account_btn:hover {
      background-color: rgb(184, 178, 178);
    }

    #address_btn {
    background-color: rgb(204, 199, 199);
    color: #fff;
  }

    .row_element {
        display: flex;
        width: 100%;
        margin-top: 2rem;
        /* background-color: lime; */
    }

    form .account_btn {
        text-decoration: none;
        /* box-shadow: hsl(0, 0%, 80%) 0 0 16px; */
        background-color: rgb(236, 236, 236);
        width: 80%;
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 2%;
        display: block;
        font-size: 14px;
        /* margin-right: 15rem; */
        margin-left: 10%;
        /* text-align: center; */
        color: grey;
        

    }

    form .right_element_info {
        /* background-color: mediumpurple; */
        display: block;
        padding-left: 3%;
    }

  
</style>





<div class="box_element">
    <form action="" method="GET">
    
        <div style="display: flex; width: 100%; background-color: blanchedalmond;">
            <div style="margin-left: 2%;"><a class="btn btn-outline-dark" href=" {% url 'my_order' %} ">&#x2190; Back </a></div>

            <div style="margin-left: 40%;"><h3>Settings</h3></div>
        </div>

        

        <!-- SUCCESS ALERT MESSAGE -->
        <div id="success-alert" class="alert alert-success" role="alert">
            <p style="text-align: center; font-weight: 700; font-size: 18px; margin: 0%;">
               Record updated 
            </p>
        </div>

        <div style="display: flex; width: 100%; padding: 8px 0px;">
            <div >
                <!-- ADDRESS BUTTON -->
                <button id="address_btn" style="width: 11rem; font-size: 13px;" type="button"
                    class="btn btn-outline-secondary shadow-none nav_btn">Address</button>
        
                <!-- GENERAL TAB BUTTON -->
                <button id="config_btn" style="width: 11rem; font-size: 13px;" type="button"
                    class="btn btn-outline-secondary shadow-none">General Setting
                </button>
        
                <!-- ADMIN SETTING BUTTON -->
                <button id="cus_review" style="width: 11rem; font-size: 13px;" type="button"
                    class="btn btn-outline-secondary shadow-none">Admin Setting
                </button>
        
                
        
            </div>
        </div>

        <div class="row_element">
            <div class="" style="width: 30%;">
                <a id="address_btn" class="account_btn" href=" #">
                  Address
                </a>
                <a id="general_setting_btn" class="account_btn" href="{% url 'generalSetting' %}">
                    General Setting
                </a>
                {% if user.is_staff %}
                <a class="account_btn" href=" {% url 'adminSetting' %} ">
                    Admin Setting
                  </a>
                {% endif %}
            </div>
            <div style="width: 70%;">
                <div class="right_element_info" >
                    <h3 >
                        Addresses
                    </h3>

                    <hr style="color: red;">

                    <div style="justify-content: space-between; display: flex; margin-right: 2%;">
                        <h6>
                            Shipping address <br ><span style="color: gray; 
                            font-size: 12px;">This is where you'd like to receive items you purchase.</span>
                            
                        </h6>
                      
                        <input style="width: 20%;" type="submit" name="shippingAddressBtn" class="btn btn-outline-dark" value="Edit">
                       
                    </div>

                    <hr style="color: red;">

                    <div style="justify-content: space-between; display: flex; margin-right: 2%;">
                        <h6>
                            Billing address <br ><span style="color: gray; 
                            font-size: 12px;">This is where you'd like to send the bill of purchased item to.</span>
                            
                        </h6>
                        <button style="width: 20%;" type="button" class="btn btn-outline-dark">Edit</button>
                    </div>

                    <hr style="color: red;">
                </div>
                  
            </div>
            
        </div>

    </form>
</div>


<script>

    // THIS ON-CHANGE FUNCTION IS EXECUTED WHEN EVER A USER SELECT OR CHANGE THE LIST OF STORES
    document.getElementById('mySelect').onchange = function() {
        var selectedStore_id = document.getElementById("mySelect").value;
        updateSettings(selectedStore_id, flexSwitchBox = '')
        console.log(selectedStore_id)
    }

    // THIS FUNCTION IS EXECUTED WHEN THE UPDATE BUTTON IS CLICKED ON
    var submit_btn = document.getElementById('updateSetting_id_btn').addEventListener('click', function(e){
        
        var store_id = document.getElementById("mySelect").value;
        var flexSwitchBox = document.getElementById('flexSwitchCheck_id').checked;
        
        if(store_id){
            // CALL THE FUNCTION TO PROCESS REQUEST
            updateSettings(store_id, flexSwitchBox)
        }else if (store_id == ''){
            e.preventDefault()
            alert('Kindly select a store you which to verify')
        }
    })

    // FUNCTION THAT GET DATA FROM FONTEND, SEND IT TO THE BACKEND, PROCESS IT AND GET A RESPONSE
    
    function updateSettings(store_id, flexSwitchBox){
        let url = '/update_setting/'

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken
            },
            body: JSON.stringify({'store_id': store_id, 'flexSwitchBox': flexSwitchBox})
        })
        .then((response) => {
            return response.json()
        })
        .then((data) => {

             // THIS IS USED TO SHOW AND HIDE ALERT OF SUCCESSFUL MESSAGE
            var response_msg = data.success_msg
          
            if (response_msg == 'Record updated') {
                
                setTimeout("showdiv()", 0);

                setTimeout("hidediv()", 3000);
            }

            // USED TO TOGGLE THE VERIFIED STATUS OF ANY STORE SELECTED IN THE DROPDOWN LIST
            var flexSwitch_Box = document.getElementById('flexSwitchCheck_id');
            var verify_status = data.verify
            if (verify_status ){
                flexSwitch_Box.checked = true
            }else {
                flexSwitch_Box.checked = false
            }
            
        })

    }

    // FUNCTIONS TO SHOW AND HIDE SUCCESS MESSAGE
    function showdiv() {
        document.getElementById('success-alert').style.display = "block";
    }
    function hidediv() {
        document.getElementById('success-alert').style.display = "none";
        location.reload()
    }

    
</script>


{% endblock acctDetail %}