{% extends 'homePage/homepage.html' %}

{% block content %}

<div class="page-container">
    <h3>Enter new password</h3>

    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-format">
            {{form}}
        </div>
        <!-- <input type="Submit" name="Update Password"> -->

        <div id="update-btns" class="update-btn">
            <a style="padding: 0.5% 5%; margin-right: 4%;" href="{% url 'homePage' %}" class="btn btn-warning btn-block"
                name="cancel" type="submit" value="Cancel">Cancel</a>

            <input style="padding: 0.5% 6%;" id="send-button" class="btn btn-success btn-block" type="submit"
                value="Send">
        </div>
    </form>
</div>

<style>
    .form-format {
        font-weight: bold;
        font-size: 16px;
        margin-top: 3%;
        margin-bottom: 5%;
    }


    .page-container {
        margin-top: 5rem;
        width: 95%;
        margin-left: 5%;
    }

    @media only screen and (max-width: 376px) {
        .page-container {
            margin-top: 5rem;

        }

    }

    /* ======== THIS IS FOR THE DESK TOP SCALING... =========== */
    @media only screen and (min-width: 992px) {
        .page-container {
            margin-top: 5rem;
            margin-left: 5%;
        }

    }
</style>

<script>
    // STYLE THE DJANGO INPUT FIELD NEW PASSWORD 1
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].style.width = '30%';
    form_fields[1].style.border = 'none';
    form_fields[1].style.outline = 'none';
    form_fields[1].style.color = '#595f6e';
    form_fields[1].style.paddingLeft = '0.5%';
    form_fields[1].style.marginLeft = '10%';
    form_fields[1].style.borderBottom = '1px solid black';
    form_fields[1].style.marginBottom = '1%';

    // STYLE THE DJANGO INPUT FIELD NEW PASSWORD 2
    form_fields[2].style.width = '30%';
    form_fields[2].style.border = 'none';
    form_fields[2].style.outline = 'none';
    form_fields[2].style.color = '#595f6e';
    form_fields[2].style.paddingLeft = '0.5%';
    form_fields[2].style.marginLeft = '2%';
    form_fields[2].style.borderBottom = '1px solid black';
    
</script>
{% endblock %}