{% extends 'homePage/homepage.html' %}

{% block content %}

<div class="page-container">
    <h3>Password reset sent</h3>

    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
        You should received them shortly.
    </p>

    <p>If you don't receive an email, please make sure you've entered the address you registered with,
        and check your spam folder.
    </p>
</div>

<style>
    .page-container {
        margin-top: 5rem;
        width: 100%;
        margin-left: 5%;
    }

    @media only screen and (max-width: 376px) {
        .page-container {
            margin-top: 5rem;

        }

    }

    /* ======== THIS IS FOR THE DESK TOP SCALING... =========== */
    @media only screen and (min-width: 992px) {
        .page-container {
            margin-top: 5rem;
            margin-left: 5%;
        }

    }
</style>
{% endblock %}